/** {
	border: 1px solid black;
}*/
#heading {
	text-align: center;
	font-family: 'Bree Serif', serif;
    font-size: 46px;
	color: #fff;
}

.text {
	text-align: center;
	font-family: 'Open San', serif;
	font-size: 25px;
	color:#fff;
}

.btn {
	text-align: center;
	font-family: 'Open San', serif;
	font-size: 25px;
	color: black;
}



body {
	background-repeat: no-repeat;
	background-size: cover;

}


#img-container {
	width:500px;
	height:300px;
	align-items: center;
	margin-left:5%;
}

#triviaResults {
	text-align: center;
	font-family: 'Open San', serif;
	font-size: 18px;
	color:#fff;
}

#game {
	text-align: center;
	font-family: 'Open San', serif;
	font-size: 18px;
	color:#fff;

}